*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main */
.row-item{
    /* position: relative;
    top:0;
    left: 0; */
    /* background-color: yellow; */
    /* height: 200px; */
}


/* card item */
.item{
    float: left;
    width: calc(100% / 3);
    padding: 0 5px;
    height: 200px;
}

.item img{
    width: 100%;
    object-fit: cover;
}

.img-item{
    position: relative;
}

.heart{
    font-size: 1em;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 0px;
}

.pop-up{
    font-size: small;
    position: absolute;
    left: 0;
    bottom: 15px;
    color: #fff;
    /* width: 100%; */
    /* background-color: #000; */
}

.pop-up.discount::before{
    background-color: red;
    display: inline-block;
    /* position: relative;
    left: 0px; */
    padding: 2px 6px;
    content: "50%";
}

.pop-up.sustainability::after{
    background-color: green;
    display: inline-block;
    /* position: relative;
    right: 0px; */
    padding: 2px 6px;
    content: "Sostenibilità";
}
